input[type="text"],
input[type="file"],
textarea {
    border: 1px solid #3864a7;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="file"]:focus,
textarea:focus {
    box-shadow: 0 0 0 2px rgba(64, 106, 169, 0.2);
    outline: none;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    background-image: url('/public/assets/bg-02 3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.error-message {
    font-size: 14px !important;
    color: rgb(199, 21, 21) !important;
}

/* Mobile background image */
@media (max-width: 767px) {
    body {
        background-image: url('/public/assets/bg-mobile.png');
        margin: 2rem !important;
    }

    .custom-form-padding {
        padding-top: 2em !important;
    }

    .seperator-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .button {
        width: 100%;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .title-font {
        font-size: 20px !important;
    }

    .upload-text {
        font-size: 16px !important;
        text-decoration: underline !important; 
    }

    .float-right-custom {
        float: right;
        width: 50px;
        height: 50px;
    }

    .thumbnail {
        width: 68px;
        height: 68px;
        border-radius: 40px;
        margin-right: 10px;
    }

    .footer {
        font-size: 15px;
        color: #414141;
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    .email {
        text-decoration: underline
    }

}

@media (min-width: 768px) {
    body {
        margin: 5rem !important;
    }

    .custom-form-padding {
        padding-top: 5em !important;
        padding-left: 7em !important;
        padding-right: 7em !important;
        padding-bottom: 1rem !important;
    }

    .upload-text {
        text-decoration: underline !important; 
    }

    .cursor {
        cursor: pointer;
    }

    .seperator-container {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .button {
        width: 250px;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .title-font {
        font-size: 30px !important;
    }

    .float-right-custom {
        cursor: pointer;
        float: right;
        width: 70px;
        height: 70px;
    }

    .thumbnail {
        width: 68px;
        height: 68px;
        border-radius: 40px;
        margin-right: 10px;
    }

    .footer {
        color: #414141;
    }

    .email {
        text-decoration: underline
    }
}

.glassMorphism {
    background: rgba(58, 53, 53, 0.05);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.custom-separator {
    border: none;
    margin-top: 3em;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
    border-top: 0.2px solid #cec9c9;
}

input[type="radio"]:checked {
    accent-color: #2C4A78;
}

input[type="radio"] {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
}

.modal-content {
    background-color: #fefefe;
    width: 466px;
    height: 300.88px;
    position: relative;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-icon img {
    margin-bottom: 10px;
}

.modal-text h2 {
    margin: 0;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

.button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

/* Responsive adjustments */
@media (max-width: 500px) {
    .modal-content {
        width: 90%;
        height: auto;
        min-height: 200px;
    }

    .modal-icon {
        margin-top: 20px;
    }
}