<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anappadikkal Family Meet 2024</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>


<body class="min-h-screen font-manrope">

    <!-- Success Modal -->
    <div id="successModal" class="modal rounded-e-2xl hidden">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <div class="modal-icon">
                <img id="vector" src="/public/assets/Vector.png" alt="success-icon" class="w-12 h-12">
            </div>
            <div class="modal-text">
                <h2 id="modalText" class="text-[20px] font-bold leading-[50.32px] text-left">Submitted Successfully</h2>
            </div>
        </div>
    </div>

    <!--Error Modal -->
    <div id="errorModal" class="modal rounded-e-2xl hidden">
        <div class="modal-content">
            <span class="close" id="closeErrorModal">&times;</span>
            <div class="modal-icon">
                <img id="vectorError" src="/public/assets/failed.svg" alt="failed-icon" class="w-12 h-12">
            </div>
            <div class="modal-text">
                <h2 class="text-[20px] font-bold leading-[50.32px] text-left">Failed to submit details. Please try
                    again.</h2>
            </div>
        </div>
    </div>

    <img id="languageToggle" src="/public/assets/english.png" alt="Language Toggle"
        class="float-right-custom mr-4 md:mr-8">
    <div class="mt-10 md:mt-20 px-4 md:px-0">
        <p id="title" class="font-bold text-center mb-6 text-[#2C4A78] title-font">Anappadikkal Family <br> Meet 2024
        </p>
    </div>
    <div
        class="relative mx-4 md:mx-0 lg:mx-auto lg:max-w-4xl mt-8 md:mt-16 rounded-lg glassMorphism px-4 py-8 md:px-10 md:py-12 custom-form-padding">
        <form id="familyForm" enctype="multipart/form-data" class="space-y-6">
            <div class="mb-4 bg-black w-full">
                <label for="picture" id="uploadLabel"
                    class="block text-lg font-semibold mb-2 flex items-center cursor-pointer">
                    <img id="uploadIcon" src="/public/assets/Upload.png" alt="Upload Icon" class="w-6 h-6 mr-2 cursor">
                    <img id="imagePreview" class="mt-2 hidden thumbnail" alt="Image Preview" />
                    <span id="uploadText" class="text-[#2C4A78] cursor upload-text">Upload a picture:</span>
                </label>
                <input type="file" id="picture" name="picture" accept="image/*" class="hidden">
                <p id="pictureError" class="error-message mt-2 hidden">Please upload a picture.</p>
            </div>

            <div class="mb-4">
                <label for="name" id="nameLabel" class="block text-lg font-semibold mb-2">Name</label>
                <input type="text" id="name" name="name" class="border rounded-lg p-2 w-full" required>
            </div>

            <div class="mb-4">
                <label id="ageLabel" class="block text-lg font-semibold mb-2">Age</label>
                <div class="flex flex-wrap gap-4">
                    <label class="flex items-center">
                        <input type="radio" id="age0-18" name="age" value="0" class="mr-2" required>
                        <span>0-18</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="age18-50" name="age" value="1" class="mr-2" required>
                        <span>18-50</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="age50+" name="age" value="2" class="mr-2" required>
                        <span>50+</span>
                    </label>
                </div>
            </div>

            <div class="mb-4">
                <label id="genderLabel" class="block text-lg font-semibold mb-2">Gender</label>
                <div class="flex gap-4">
                    <label class="flex items-center">
                        <input type="radio" id="male" name="gender" value="0" class="mr-2" required>
                        <span id="maleLabel">Male</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="female" name="gender" value="1" class="mr-2" required>
                        <span id="femaleLabel">Female</span>
                    </label>
                </div>
            </div>

            <div class="mb-4">
                <label id="educationLabel" class="block text-lg font-semibold mb-2">Education</label>
                <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-2">
                    <label class="flex items-center">
                        <input type="radio" id="lkg-ukg" name="education" value="0" class="mr-2" required>
                        <span id="lkgLabel">LKG/UKG</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="sslc" name="education" value="1" class="mr-2" required>
                        <span id="sslcLabel">SSLC</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="plus2" name="education" value="2" class="mr-2" required>
                        <span id="plus2Label">+2</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="degree" name="education" value="3" class="mr-2" required>
                        <span id="degreeLabel">Degree</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="pg" name="education" value="4" class="mr-2" required>
                        <span id="pgLabel">PG</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="phd" name="education" value="5" class="mr-2" required>
                        <span id="phdLabel">PHD</span>
                    </label>
                </div>
            </div>

            <div class="mb-4">
                <label id="gfLabel" class="block text-lg font-semibold mb-2">Related to</label>
                <div class="flex flex-col gap-2 mb-2">
                    <label class="flex items-center">
                        <input type="radio" id="gf-mohideen" name="relatedTo" value="0" class="mr-2" required>
                        <span id="gfMohideenLabel">Mohideenkutty (Peechi Master)</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="gf-write" name="relatedTo" value="1" class="mr-2" required>
                        <span id="gfWriteLabel">Others</span>
                    </label>
                </div>
                <input type="text" id="relatedToName" name="relatedToName" class="border rounded-lg p-2 w-full hidden">
            </div>

            <div class="mb-4">
                <label id="gmLabel" class="block text-lg font-semibold mb-2">Related to</label>
                <div class="flex flex-col gap-2 mb-2">
                    <label class="flex items-center">
                        <input type="radio" id="gm-fathimakutty" name="relatedTo2" value="0" class="mr-2" required>
                        <span id="gmFathimaLabel">Fathimakutty</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="gm-write" name="relatedTo2" value="1" class="mr-2" required>
                        <span id="gmWriteLabel">Others</span>
                    </label>
                </div>
                <input type="text" id="relatedTo2Name" name="relatedTo2Name"
                    class="border rounded-lg p-2 w-full hidden">
            </div>

            <div class="mb-4">
                <label id="familyLabel" class="block text-lg font-semibold mb-2">Family name</label>
                <div class="flex flex-col gap-2 mb-2">
                    <label class="flex items-center">
                        <input type="radio" id="family-anapaddikal" name="family" value="0" class="mr-2" required>
                        <span id="familyAnapaddikalLabel">Anapaddikal Family</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="family-write" name="family" value="1" class="mr-2" required>
                        <span id="familyWriteLabel">Write your Family name</span>
                    </label>
                </div>
                <input type="text" id="familyName" name="familyName" class="border rounded-lg p-2 w-full hidden">
            </div>

            <div class="mb-4">
                <label for="phone" id="phoneLabel" class="block text-lg font-semibold mb-2">Phone number</label>
                <input type="text" id="phone" name="phone" class="border rounded-lg p-2 w-full" required>
            </div>

            <div class="mb-4">
                <label for="employment" id="employmentLabel" class="block text-lg font-semibold mb-2">Employment
                    (Company)</label>
                <input type="text" id="employment" name="employment" class="border rounded-lg p-2 w-full">
            </div>

            <div class="mb-4">
                <label for="address" id="addressLabel" class="block text-lg font-semibold mb-2">Address</label>
                <textarea id="address" name="address" rows="4" class="border rounded-lg p-2 w-full" required></textarea>
            </div>

            <div class="mb-4 flex justify-center">
                <button type="submit" id="submitButton"
                    class="bg-[#2C4A78] button text-white py-2 px-4 rounded-lg hover:bg-[#a5bfe7]"> <span
                        id="buttonText">Submit</span>
                    <div id="loadingSpinner"
                        class="hidden ml-2 w-5 h-5 border-t-2 border-white border-solid rounded-full animate-spin">
                    </div>
                </button>
            </div>
            <input type="hidden" id="currentLanguage" name="currentLanguage" value="en">
        </form>
    </div>
    <div class="w-6 seperator-container">
        <hr class="custom-separator my-8 mx-auto w-11/12 md:w-4/5 lg:w-3/4">
    </div>
    <footer class="mt-8 mb-4 text-center text-xs footer">
        <p id="footer">
            If you have any other personal urgent matters, please feel free to contact us at
        </p>
        <p> <a href="mailto:team@anappadikkal.com" class="underline email hover:text-blue-700">team@anappadikkal.com</a>
        </p>
    </footer>
    <script src="/public/scripts/index.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('familyForm');
            const submitButton = document.getElementById('submitButton');
            const buttonText = document.getElementById('buttonText');
            const loadingSpinner = document.getElementById('loadingSpinner');
            const pictureInput = document.getElementById('picture');
            const pictureError = document.getElementById('pictureError');
            const modal = document.getElementById("successModal");
            const errorModal = document.getElementById("errorModal");
            const closeModal = document.getElementById("closeModal");
            const languageToggle = document.getElementById('languageToggle');
            const currentLanguageInput = document.getElementById('currentLanguage');

            languageToggle.addEventListener('click', function () {
                currentLanguageInput.value = currentLanguageInput.value === 'en' ? 'en' : 'ml';
            });

            // Function to show the modal
            function showModal() {
                modal.classList.remove("hidden");
                modal.style.display = "flex";
            }

            function showErrorModal() {
                errorModal.classList.remove("hidden");
                errorModal.style.display = "flex";
            }

            // Function to hide the modal
            function hideModal() {
                modal.classList.add("hidden");
                modal.style.display = "none";
                errorModal.classList.add("hidden");
                errorModal.style.display = "none";
            }

            // Hide the modal initially
            hideModal();

            // Event listener to close the modal when the close button is clicked
            closeModal.addEventListener("click", hideModal);
            form.addEventListener('submit', function (e) {
                e.preventDefault();
                if (!pictureInput.files.length) {
                    pictureError.classList.remove('hidden');
                    setTimeout(() => {
                        pictureError.scrollIntoView({ behavior: 'smooth', block: 'center' });
                    }, 100);
                    return;
                }
                // Disable button and show loading spinner
                submitButton.disabled = true;
                buttonText.textContent = 'Submitting...';
                loadingSpinner.classList.remove('hidden');
                const formData = new FormData(form);

                fetch('/submit-form', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            showModal();
                            resetForm();
                        } else {
                            showErrorModal();
                        }
                    })
                    .finally(() => {
                        submitButton.disabled = false;
                        buttonText.textContent = 'Submit';
                        loadingSpinner.classList.add('hidden');
                    });
            });

            function resetForm() {
                form.reset();

                const pictureInput = document.getElementById('picture');
                const imagePreview = document.getElementById('imagePreview');
                const uploadText = document.getElementById('uploadText');
                const uploadIcon = document.getElementById('uploadIcon');

                pictureInput.value = '';
                imagePreview.classList.add('hidden');
                imagePreview.src = '';
                uploadText.textContent = 'Upload a picture:';
                uploadIcon.classList.remove('hidden');

                // Reset custom input fields
                document.getElementById('grandFatherName').style.display = 'none';
                document.getElementById('grandMotherName').style.display = 'none';
                document.getElementById('familyName').style.display = 'none';

                // Uncheck all radio buttons
                form.querySelectorAll('input[type="radio"]').forEach(function (radio) {
                    radio.checked = false;
                });
            }

            function closeSuccessModal() {
                document.getElementById('successModal').style.display = 'none';
            }

            function closeErrorModal() {
                document.getElementById('errorModal').style.display = 'none';
            }

            // Close button event listeners
            document.getElementById('closeModal').onclick = closeSuccessModal;
            document.getElementById('closeErrorModal').onclick = closeErrorModal;

            // Close modals when clicking outside of them
            window.onclick = function (event) {
                if (event.target === document.getElementById('successModal')) {
                    closeSuccessModal();
                }
                if (event.target === document.getElementById('errorModal')) {
                    closeErrorModal();
                }
            }
        });
    </script>
</body>


</html>