<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Information Form</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="bg-cover bg-center" style="background-image: url('/public/assets/bg-02 3.png');">
    <div class="relative mt-16 p-8 rounded-lg glassMorphism px-4 md:px-8">
        <img id="languageToggle" src="/public/assets/english.png" alt="Language Toggle"
            class="absolute top-4 right-4 cursor-pointer w-12 h-12">
        <h1 id="title" class="text-3xl font-bold text-center mb-6 text-[#2C4A78]">Anappadikkal Family <br> Meet 2024
        </h1>
        <form action="/submit-form" method="POST" enctype="multipart/form-data" id="familyForm">
            <div class="mb-4 bg-black w-full">
                <label for="picture" id="uploadLabel"
                    class="block text-lg font-semibold mb-2 flex items-center cursor-pointer">
                    <img src="public/assets/Upload.png" alt="Upload Icon" class="w-6 h-6 mr-2">
                    <span id="uploadText" class="text-[#2C4A78]">Upload a picture:</span>
                </label>
                <input type="file" id="picture" name="picture" accept="image/*" class="hidden" required>
            </div>

            <div class="mb-4">
                <label for="name" id="nameLabel" class="block text-lg font-semibold mb-2">Name:</label>
                <input type="text" id="name" name="name" class="border rounded-lg p-2 w-full" required>
            </div>

            <div class="mb-4">
                <label id="ageLabel" class="block text-lg font-semibold mb-2">Age:</label>
                <div class="flex gap-4">
                    <label class="flex items-center">
                        <input type="radio" id="age0-18" name="age" value="0-18" class="mr-2" required>
                        <span>0-18</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="age18-50" name="age" value="18-50" class="mr-2" required>
                        <span>18-50</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="age50+" name="age" value="50+" class="mr-2" required>
                        <span>50+</span>
                    </label>
                </div>
            </div>

            <div class="mb-4">
                <label id="genderLabel" class="block text-lg font-semibold mb-2">Gender:</label>
                <div class="flex gap-4">
                    <label class="flex items-center">
                        <input type="radio" id="male" name="gender" value="Male" class="mr-2" required>
                        <span id="maleLabel">Male</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="female" name="gender" value="Female" class="mr-2" required>
                        <span id="femaleLabel">Female</span>
                    </label>
                </div>
            </div>

            <div class="mb-4">
                <label id="educationLabel" class="block text-lg font-semibold mb-2">Education:</label>
                <div class="grid grid-cols-3 gap-4 mb-2">
                    <label class="flex items-center">
                        <input type="radio" id="lkg-ukg" name="education" value="LKG/UKG" class="mr-2" required>
                        <span id="lkgLabel">LKG/UKG</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="sslc" name="education" value="SSLC" class="mr-2" required>
                        <span id="sslcLabel">SSLC</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="plus2" name="education" value="+2" class="mr-2" required>
                        <span id="plus2Label">+2</span>
                    </label>
                </div>
                <div class="grid grid-cols-3 gap-4">
                    <label class="flex items-center">
                        <input type="radio" id="degree" name="education" value="Degree" class="mr-2" required>
                        <span id="degreeLabel">Degree</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="pg" name="education" value="PG" class="mr-2" required>
                        <span id="pgLabel">PG</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="phd" name="education" value="PHD" class="mr-2" required>
                        <span id="phdLabel">PHD</span>
                    </label>
                </div>
            </div>

            <div class="mb-4">
                <label id="gfLabel" class="block text-lg font-semibold mb-2">Grand Father's name:</label>
                <div class="flex flex-col gap-2 mb-2">
                    <label class="flex items-center">
                        <input type="radio" id="gf-mammu" name="grandFather" value="Mammu Haji" class="mr-2" required>
                        <span id="gfMammuLabel">Mammu Haji</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="gf-write" name="grandFather" value="other" class="mr-2" required>
                        <span id="gfWriteLabel">Write your Grand Father's name</span>
                    </label>
                </div>
                <input type="text" id="grandFatherName" name="grandFatherName"
                    placeholder="Write your Grand Father's name" class="border rounded-lg p-2 w-full hidden">
            </div>

            <div class="mb-4">
                <label id="gmLabel" class="block text-lg font-semibold mb-2">Grand Mother's name:</label>
                <div class="flex flex-col gap-2 mb-2">
                    <label class="flex items-center">
                        <input type="radio" id="gm-fathimakutty" name="grandMother" value="Fathimakutty" class="mr-2"
                            required>
                        <span id="gmFathimaLabel">Fathimakutty</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="gm-write" name="grandMother" value="other" class="mr-2" required>
                        <span id="gmWriteLabel">Write your Grand Mother's name</span>
                    </label>
                </div>
                <input type="text" id="grandMotherName" name="grandMotherName"
                    placeholder="Write your Grand Mother's name" class="border rounded-lg p-2 w-full hidden">
            </div>

            <div class="mb-4">
                <label id="familyLabel" class="block text-lg font-semibold mb-2">Family name:</label>
                <div class="flex flex-col gap-2 mb-2">
                    <label class="flex items-center">
                        <input type="radio" id="family-anapaddikal" name="family" value="Anapaddikal Family"
                            class="mr-2" required>
                        <span id="familyAnapaddikalLabel">Anapaddikal Family</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" id="family-write" name="family" value="other" class="mr-2" required>
                        <span id="familyWriteLabel">Write your Family name</span>
                    </label>
                </div>
                <input type="text" id="familyName" name="familyName" placeholder="Write your Family name"
                    class="border rounded-lg p-2 w-full hidden">
            </div>

            <div class="mb-4">
                <label for="address" id="addressLabel" class="block text-lg font-semibold mb-2">Address:</label>
                <textarea id="address" name="address" rows="4" class="border rounded-lg p-2 w-full" required></textarea>
            </div>

            <div class="mb-4 flex justify-center">
                <button type="submit" id="submitButton"
                    class="bg-[#2C4A78] text-white py-2 px-4 rounded-lg hover:bg-blue-600">Submit</button>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('familyForm');
            var radios = form.querySelectorAll('input[type="radio"]');
            radios.forEach(function (radio) {
                radio.checked = false;
            });

            // Prevent browser auto-fill
            form.reset();

            // Show/hide custom input fields
            document.querySelectorAll('input[name="grandFather"]').forEach(function (radio) {
                radio.addEventListener('change', function () {
                    document.getElementById('grandFatherName').style.display = this.value === 'other' ? 'block' : 'none';
                });
            });

            document.querySelectorAll('input[name="grandMother"]').forEach(function (radio) {
                radio.addEventListener('change', function () {
                    document.getElementById('grandMotherName').style.display = this.value === 'other' ? 'block' : 'none';
                });
            });

            document.querySelectorAll('input[name="family"]').forEach(function (radio) {
                radio.addEventListener('change', function () {
                    document.getElementById('familyName').style.display = this.value === 'other' ? 'block' : 'none';
                });
            });

            // Language toggle functionality
            document.getElementById('languageToggle').addEventListener('click', function () {
                var currentLang = this.src.includes('english.png') ? 'english' : 'malayalam';
                var newLang = currentLang === 'english' ? 'malayalam' : 'english';
                var langData = {
                    'english': {
                        'title': 'Anappadikkal Family Meet 2024',
                        'uploadText': 'Upload a picture:',
                        'nameLabel': 'Name:',
                        'ageLabel': 'Age:',
                        'maleLabel': 'Male',
                        'femaleLabel': 'Female',
                        'educationLabel': 'Education:',
                        'lkgLabel': 'LKG/UKG',
                        'sslcLabel': 'SSLC',
                        'plus2Label': '+2',
                        'degreeLabel': 'Degree',
                        'pgLabel': 'PG',
                        'phdLabel': 'PHD',
                        'gfLabel': 'Grand Father\'s name:',
                        'gfMammuLabel': 'Mammu Haji',
                        'gfWriteLabel': 'Write your Grand Father\'s name',
                        'gmLabel': 'Grand Mother\'s name:',
                        'gmFathimaLabel': 'Fathimakutty',
                        'gmWriteLabel': 'Write your Grand Mother\'s name',
                        'familyLabel': 'Family name:',
                        'familyAnapaddikalLabel': 'Anapaddikal Family',
                        'familyWriteLabel': 'Write your Family name',
                        'addressLabel': 'Address:',
                        'submitButton': 'Submit'
                    },
                    'malayalam': {
                        'title': `അനപ്പടിക്കൽ കുടുംബം മീറ്റ് 2024`,
                        'uploadText': 'ഒരു ചിത്രം അപ്‌ലോഡ് ചെയ്യുക:',
                        'nameLabel': 'പേര്:',
                        'ageLabel': 'പ്രായം:',
                        'maleLabel': 'പുരുഷൻ',
                        'femaleLabel': 'സ്ത്രീ',
                        'educationLabel': 'വിദ്യാഭ്യാസം:',
                        'lkgLabel': 'എൽകെജി/യുകെജി',
                        'sslcLabel': 'എസ്‌എസ്എൽസി',
                        'plus2Label': '+2',
                        'degreeLabel': 'ഡിഗ്രി',
                        'pgLabel': 'പിജി',
                        'phdLabel': 'പി‌എച്ച്‌ഡി',
                        'gfLabel': 'മുത്തച്ഛൻ്റെ പേര്:',
                        'gfMammuLabel': 'മമ്മു ഹാജി',
                        'gfWriteLabel': 'താങ്കളുടെ മുത്തച്ഛൻ്റെ പേരെഴുത്തുക',
                        'gmLabel': 'മുത്തശ്ശിയുടെ പേര്:',
                        'gmFathimaLabel': 'ഫാത്തിമകുട്ടി',
                        'gmWriteLabel': 'താങ്കളുടെ മുത്തശ്ശിയുടെ പേര് എഴുതുക',
                        'familyLabel': 'കുടുംബത്തിന്റെ പേര്:',
                        'familyAnapaddikalLabel': 'അനപ്പടിക്കൽ കുടുംബം',
                        'familyWriteLabel': 'താങ്കളുടെ കുടുംബത്തിന്റെ പേര് എഴുതുക',
                        'addressLabel': 'വിലാസം:',
                        'submitButton': 'സമർപ്പിക്കുക'
                    }
                };

                var newLangData = langData[newLang];
                document.getElementById('title').textContent = newLangData.title;
                document.getElementById('uploadText').textContent = newLangData.uploadText;
                document.getElementById('nameLabel').textContent = newLangData.nameLabel;
                document.getElementById('ageLabel').textContent = newLangData.ageLabel;
                document.getElementById('maleLabel').textContent = newLangData.maleLabel;
                document.getElementById('femaleLabel').textContent = newLangData.femaleLabel;
                document.getElementById('educationLabel').textContent = newLangData.educationLabel;
                document.getElementById('lkgLabel').textContent = newLangData.lkgLabel;
                document.getElementById('sslcLabel').textContent = newLangData.sslcLabel;
                document.getElementById('plus2Label').textContent = newLangData.plus2Label;
                document.getElementById('degreeLabel').textContent = newLangData.degreeLabel;
                document.getElementById('pgLabel').textContent = newLangData.pgLabel;
                document.getElementById('phdLabel').textContent = newLangData.phdLabel;
                document.getElementById('gfLabel').textContent = newLangData.gfLabel;
                document.getElementById('gfMammuLabel').textContent = newLangData.gfMammuLabel;
                document.getElementById('gfWriteLabel').textContent = newLangData.gfWriteLabel;
                document.getElementById('gmLabel').textContent = newLangData.gmLabel;
                document.getElementById('gmFathimaLabel').textContent = newLangData.gmFathimaLabel;
                document.getElementById('gmWriteLabel').textContent = newLangData.gmWriteLabel;
                document.getElementById('familyLabel').textContent = newLangData.familyLabel;
                document.getElementById('familyAnapaddikalLabel').textContent = newLangData.familyAnapaddikalLabel;
                document.getElementById('familyWriteLabel').textContent = newLangData.familyWriteLabel;
                document.getElementById('addressLabel').textContent = newLangData.addressLabel;
                document.getElementById('submitButton').textContent = newLangData.submitButton;

                this.src = `/public/assets/${newLang}.png`;
            });
        });
    </script>
</body>


</html>